<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/nav.js"></script>
</body>
<footer class='bg-violet-700 text-sm text-center h-10 text-violet-200 font-medium py-2'>Copyright ©️  Mohd Waqi Pervez</footer>
</html>