<%- include("partials/header"); -%>
<div class=" text-center px-20 flex flex-col gap-4">
    <h1 class="topHeading"><%= postPage.title; %></h1>
    <div class="text-left lg:px-52 pb-20 text-gray-600">
        <p><%= postPage.content; %></p>
    </div>
</div>
<%- include("partials/footer"); -%>